body {
    background-color: #cd43ef;
    color: rgb(255, 255, 255);
    font-family: "Lugrasimo", cursive;
    font-weight: 1000;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #fea0df;
    color: rgb(0, 0, 0);
    font-family: "Lugrasimo", cursive;
    width: 15rem;
    height: 3rem;
    border: 2px solid#f7f6f8;
    border-radius: 5px;
    cursor: pointer;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

img {
    max-width: 90%;
}

.jogo-imagem{
    width: 80rem;
    height: 30rem;
    overflow: hidden;
}

.jogo-imagem img{
    height: 100%;
    width: 100%;
    object-fit: cover;


}
